<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vloboda.myProject.breathe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cigarette_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Breathe">
        <activity
            android:name="vloboda.myProject.breathe.Health"
            android:label="@string/health"
            android:exported="true" />
        <activity
            android:name="vloboda.myProject.breathe.StopSmoking"
            android:exported="true"
             />
        <activity
            android:name="vloboda.myProject.breathe.MainActivity"
            android:label="Your info"
            android:exported="true" />
        <activity
            android:name="vloboda.myProject.breathe.Login"
            android:exported="true"
             />
        <activity
            android:name="vloboda.myProject.breathe.Register"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>